.heading {
  font-weight: bold;
  color: white;
  margin: 30px;
  font-style: italic;
}
.style-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-head {
  font-size: 27px;
  margin-top: 7rem;
  font-weight: bold;
  color: white;
}
.second-head {
  font-size: 13px;
  margin-top: 1.5rem;
  color: white;
}
#hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.inputSearch {
  padding: 15px;
  width: 90%;
  margin: 5px;
  border-width: 0;
  border-radius: 8px;
  color: #888;
  font-size: 18px;
  font-weight: 600;
}
.custombutton {
  height: 40px;
  width: 80px;
  background-color: #ffec99;
  color: black;
  font-weight: 700;
  border-radius: 8px;
  border-width: 0;
  margin-top: 5px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
.card {
  border-width: 0;
  width: 30rem;
}
.badge {
  padding: 10px;
  margin: 5px;
}
.card-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
}
.card-img-top {
  width: 95%;
  margin: 10px;
}
.width {
  max-width: 100%;
}
